
.goodsCard{
  padding: 10px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.description{
  text-align: center;
  padding: 5px;
  
}
.headBackground{
  background-color: rgb(237, 241, 241);
  padding: 3px;
}
