.mbg{background-color: rgb(6, 6, 104);}
li.topnav a{color:white;}

.mycenter {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  footer{
    background-color:rgb(6, 6, 104);
    color:white;
    padding: 10px;
  }
  p{ text-align: justify; font-size: 18px; color:black;}
  .black{
    color:black; 
    text-decoration:underline;
  }
  .foradd{
    height: 64px;
    background-color: rgb(153, 13, 13);
  }


  body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(6, 6, 104);
}
ul.topnav a:hover{border-bottom:yellow solid 3px; color:yellow}


ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
ul.bottomnav{
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

ul.bottomnav li a {
  display: block;
  color: white;   
  text-decoration: none;
  font-size: 14px;
}
ul.bottomnav a:hover{text-decoration:underline; color:aqua}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
.wrapper{
  height: 100%;
  padding: 50px;
}
.menu a{
  text-decoration: none;
}
.menu li{
  position: relative;
  list-style: none;
}
.menu_list{
  display: flex;
}
.menu-list>li{
  margin: 0px 10px 0px 0px;
}
.menu_list>li:hover .sub-menu_list{
  display: block;
}
.menu_link{
  color: rgb(93, 65, 146);
}
.sub-menu_list{
  display: none;
  min-width: 300px;
  position: absolute;
  left:0;
  top: 20px;
  padding: 20px 0px 0px 0px;

}
.sub-menu_list>li{
  background-color: #fff;
}
.sub-menu_link{
  color: brown;
  display: inline-block;
  padding: 5px 10px 10px 10px;
}